{% extends 'main/base.html' %}

{% block content %}


<div class="col-12 mb-5">
    {% if user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'main:create_message' %}"
       class="btn btn-success">Новое сообщение</a>
    {% endif %}
</div>
{% load my_tags %}

{% for object in object_list %}
<div class="col-md-4">
    <div class="card h-95 w-90 text-bg-primary mb-4 box-shadow" style="max-width: 18rem;">
        <!--        <img src="/media/{{ object.photo }}" />-->
        <img src="{{ object.photo|mediapath }}"/>
        <div class="card-body">
            <h5 class="card-title">{{ object.subject_letter }}</h5>
            <h6 class="card-title">Содержание письма</h6>
            <p class="card-text">{{ object.body_letter }}</p>
            <h6 class="card-title">Рассылка</h6>
            <p class="card-text">{{ object.mailing }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}